.city-list-page {
  margin-top: 20px;
}


.city-list-page .topbar {
  display: flex;
  gap: 30px;
}
.topbar .city-list-title {
  /* align-self: flex-start; */
  margin: auto;
}
.topbar .modal-button {
  /* align-self: flex-end; */
  margin: auto;
}

.city-list-page .city-detail-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 30px;
  min-height: 300px;
  height: auto;
  width: 100%;
  align-self: center;
  margin: 30px 0 30px 0;
  padding: 1em;
  overflow: auto;
  background: var(--tile-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  
}

.city-detail-card .preference-row {
}



.city-list-page .city-detail-card h3 {
  grid-column: 1 / -1;
  margin: 0 10px 20px 10px;
  height: 40px;
  font-size: 30px;
  
}

.city-list-page .card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-gap: 30px;
  margin: 10px 0 30px 0;
  align-items: start;
}

.city-list-page .card-grid .city-small-card {
  grid-gap: 10px;
  background: var(--tile-background-color);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  padding: 1em;
  height: auto;
  min-height: 30px;
}

.city-small-card .small-card-title {
  position: relative;
  grid-column: span 2;
  font-size: 18px;
}

.small-card-title .small-card-toggle {
  float: right;
  color: var(--primary-color);
  cursor: pointer;
}

.small-card-title .small-card-toggle:hover {
  text-decoration: underline;
}

.city-small-card .see-more-button {
  place-self: end;
  margin-right: 10px;
  color: var(--primary-color);
  cursor: pointer;
}

.city-small-card .see-more-button:hover {
  text-decoration: underline;
}

.preference-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 5px;
}

.preference-row .small-card-preference {
}

.preference-row .score-bar {
  align-self: center;
  max-height: 1.5em;
  width: 60%;
}

.modal-button {
    width: auto;
    display: inline-block;
    padding: 0.55em .8em;
    text-decoration: none;
    color: var(--primary-color);
    background: var(--tile-background-color);
    border: solid 2px var(--primary-color);
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
}

/* #003455 */
.modal-button:hover {
    background: var(--primary-color);
    color: var(--primary-color-variant);
    transition: 0.15s;
    /* filter: brightness(1.03); */
}

.slider-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  
  background-color: #343442;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

.close {
  color: white;
  float: right;
  font-size: 30px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(36, 36, 36);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 10px 20px;
  background-color: var(--secondary-color);
  text-align: center;
}

.modal-body {
  margin: 0 auto 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, 110px);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  padding: 2px 16px;
}

.modal-footer {
  padding: 15px;
  background-color: var(--secondary-color);
}

.show-container{
    position:relative;
    padding: .4em;
    font-size: 17px;
}

.show-more {
    color: var(--primary-color);
    cursor: pointer;
}

.show-more:hover {
    text-decoration: underline;
}

.show-less {
    color: var(--primary-color);
    margin-left: 5%;
    cursor: pointer;
}

.show-less:hover {
    text-decoration: underline;
}

