.landing-page {
}

.landing-page .grid{
    width: 70%;
    margin: 0 auto 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 110px);
    grid-gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}