:root {
    --page-header-bgColor: #0a71b1;
    --page-header-bgColor-hover: #042b42;
    --page-header-txtColor: #d4dfeb;
    --page-header-headingColor: #6c7b94;
    --page-header-width: 220px;
    --page-content-bgColor: #f0f1f6;
    --page-content-txtColor: #171616;
    --page-content-blockColor: rgb(202, 212, 224);
    --white: #fff;
    --black: #333;
    --blue: #00b9eb;
    --red: #ec1848;
    --border-radius: 4px;
    --box-shadow: 0 0 10px -2px rgba(0, 0, 0, 0.075);
    --switch-bgLightModeColor: #87cefa;
    --switch-sunColor: gold;
    --switch-moonColor: #f4f4f4;
    --switch-bgDarkModeColor: #060607;
    --primary-color: #bb86fc;
    --primary-color-variant: #3700b3;
    --secondary-color: #0a71b1;
    --tile-background-color: #19191d;
  }
  
  * {
    padding: 0;
    margin: 0;
    /* box-sizing: border-box; */
  }
  
  ul {
    list-style: none;
  }
  
  a,
  button {
    color: inherit;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    background: none;
    cursor: pointer;
  }
  
  input {
    -webkit-appearance: none;
  }
  
  [type="checkbox"] {
    position: absolute;
    left: -9999px;
  }
  
  label {
    cursor: pointer;
  }
  
  button,
  input {
    border: none;
  }
  
  svg {
    display: block;
  }
  
  body {
    font: 16px/1.5 "Lato", sans-serif;
  }
  